<div class="container">
  <div class="header">
    <div class="logo">
      <p id="logo-florian"><b> ernst - <br> <u>re:</u>think </b><br>
      <div id="logo-ernst">FLORIAN ERNST</div></p>
    </div>

    <nav class="navi">
      <ul>
        <li class="border-none"><%= link_to "Angebot", "#angebot" %> </li>
        <li class="border-none"><%= link_to "Über mich", "#übermich" %> </li>
        <li class="border-around"><%= link_to "Erstgespräch", erstgespraech_index_path %> </li>
      </ul>
    </nav>
  </div>

  <div class="header">
    <div class="beste">
      <div class="sidebar logo-gross">
        <div class="text">
          <h1> <b> ernst - <br><u>re:</u>think</h1></b>
          <h3 id="text-up">NEW WORK<br>KULTURWANDEL<br>PERSONALBINDUNG</h3>
        </div>
      </div>

      <h2>Holen Sie <br> das Beste aus <br> Ihren Teams <br></h2>

      <%= link_to erstgespraech_index_path do %>
        <div class="btn">
          <button class="fill">ERSTGESPRÄCH</button>
        </div>
      <% end %>
    </div>
    <div id="angebot"></div>
  </div>

  <div>
    <p class="angebot">Angebot</p>
  </div>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>New Work -</b><br> der Weg in eine <br>bessere Arbeitswelt</h4>
    </div>

    <div class="content-right">
      <p>New Work ist in aller Munde aber was bedeutet es für das Team? Welche Herausforderungen entehen und wie können diese überwunden werden?</p>
    </div>
  </div>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>Digitales Arbeiten -</b><br> Teamgefühl trotz <br>Distanz</h4>
    </div>

    <div class="content-right">
      <p>Digitales Arbeiten verändert Strukturen und die Art und Weise, wie wir miteinander arbeiten. Dabei ist es wichtig, dass jede:r Mitarbeiter:in gesehen wird. Beste Zusammenarbeit und Teamgefühl ist keine Frage der Distanz!</p>
    </div>
  </div>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>Interkulturelles Managment -</b><br> Bedürfnisse (er)kennen und<br>berücksichtigen</h4>
    </div>

    <div class="content-right">
      <p>Vielfalt bringt viele Vorteile in ein Team. Welche Veränderungen müssen bedacht werden? Welche Bedürfnisse müssen berücksichtigt werden und wie kann ein interkulturelles Team erfolgreich organisiert werden?</p>
    </div>
  </div>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>Kulturwandel -</b><br> Mindset als Antrieb</h4>
    </div>

    <div class="content-right">
      <p>(Unternehmens-) Kultur ist ein dynamischer Prozess der keinen Stillstand kennt. Was braucht es um alte Strukturen aufzubrechen und neue Impulse aufzunehmen, die eine Team- und Unternehmenskultur zu mehr Effizienz, Produktivität und Zufriedenheit führt?</p>
    </div>
  </div>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>Personalbindung -</b><br> Glück als <br> Wettbewerbsvorteil</h4>
    </div>

    <div class="content-right">
      <p>Ein Impulsworkshop, der Ihnen aufzeigt welche Methoden und Tools angewendet werden können, um Mitarbeiter:innen Zufrieden, Glücklich und Motiviert an ihr Unternehmen bindet</p>
    </div>
  </div>

  <div class="header2">
    <div class="werbetext">
      <p><b> Ich habe ein Workshop-Programm entwickelt das speziell dazu da ist, Teamleads, in den sich schnell entwickelenden Zeiten, auf die modernen Anforderungen der neuen Arbeitswelt vorzubereiten.</b></p>
    </div>
  </div>

  <div class="header">
    <div class="header-for-content">
      <div class="item-left-pic">
        <h4 id="erstgespräch"><b>Würden Sie gerne mehr erfahren?</b></h4>
        <div class="border-blue">
          <p>Erstgespräch</p>
          <%= link_to erstgespraech_index_path do %>
        <div class="btn">
          <button class="fill">BUCHEN</button>
        </div>
        <% end %>
          <p>30 min</p>
        </div>
        <div id="übermich">
          <p id="text-margin"><b> Ich bin da, um mit meiner Strategie, Ihre Teams und damit auch Ihr Unternehmen auf die neuen Arbeitswelten vorzubereiten.</b></p>
          <p>Mein Name ist Florian Ernst, ich verknüpfe die Themen New Work, Kulturwandel und Personalbindung zu einem Netz, welche bestehenden Mitarbeiter:innen am Unternehmen bindet und potenzielle Mitarbeiter anzieht. <br> <br> Dabei lege ich meinen Fokus ganz auf die Teamkultur, welche ich durch Workshops und Coachings mit den einzelnen Teammitgliedern, als auch mit den Teamleads Stärke und Festigkeit verleihe.</p>
        </div>
      </div>

      <div class="pic-right">
        <%= image_tag 'profil.jpg', alt: 'Florian Ernst', id: 'profil-jpg' %>
      </div>

    </div>
  </div>

  <div class="footer">

    <div class="item-footer">
      <h4 class="item-footer-bold"><b>Lassen Sie uns <br> zusammen arbeiten</h4><br>
      <p class="item-footer">
      Florian Ernst <br>
      Landsberger Straße 37 <br>
      04157 Leipzig <br>

      <div class="social-icons">
        <%= image_tag "phone.png", :class => "soc"%>
        <span class="teext">+49 173 83 11 4 33</span> <br>
      </div>

      <div class="social-icons">
        <%= image_tag "mail.png", :class => "soc"%><%= mail_to "florian@ernst-rethink.de", 'florian@ernst-rethink.de', :style=>'color: #fffe9a;'%><br>
      </div>

      <div class="social-icons">
        <a target="_blank" href="https://www.linkedin.com/in/ernst-florian/"><%= image_tag "linked.png", :class => "soc"%></a><a href="https://www.linkedin.com/in/ernst-florian/" target="_blank" class="teext">/ernst-florian</a></p>


      </div>

      <div class="social-icons">
      <%=link_to "Impressum", impressum_index_path(@impressum), :class => "impressum"%>

      </div>

    </div>

    <div class="footer-video">
      <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "content-video" %>
    </div>
    
  </div>

  <a href="#" class="top">Start &#8593;</a>
</div>
